body {background-color: #4c5844;}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
  }

  div.a {
    text-align: center;
  }

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }  